<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Nokras</title>
  {{> styles}}
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Nokras, {{username}}!</h1>
    <div class="image-container">
        <img src="https://www.google.com/imgres?q=nokras%20embu%20food%20prices&imgurl=https%3A%2F%2Fdynamic-media-cdn.tripadvisor.com%2Fmedia%2Fphoto-o%2F29%2F68%2Fa7%2F19%2Fcaption.jpg%3Fw%3D700%26h%3D-1%26s%3D1&imgrefurl=https%3A%2F%2Fwww.tripadvisor.com%2FHotel_Review-g482864-d25150933-Reviews-Nokras_Silver_Oak-Embu_Eastern_Province.html&docid=RwE1FkeTKWgd7M&tbnid=b-YxbCJP6MGVBM&vet=12ahUKEwiaws78gOOGAxX72AIHHZUjBnsQM3oECE8QAA..i&w=700&h=933&hcb=2&ved=2ahUKEwiaws78gOOGAxX72AIHHZUjBnsQM3oECE8QAAhttps://www.facebook.com/NokrasSilverOakEmbu/" alt="Image 1">
        <img src="https://www.google.com/imgres?q=nokras%20embu%20food%20prices&imgurl=https%3A%2F%2Fdynamic-media-cdn.tripadvisor.com%2Fmedia%2Fphoto-o%2F29%2F68%2Fa7%2F19%2Fcaption.jpg%3Fw%3D700%26h%3D-1%26s%3D1&imgrefurl=https%3A%2F%2Fwww.tripadvisor.com%2FHotel_Review-g482864-d25150933-Reviews-Nokras_Silver_Oak-Embu_Eastern_Province.html&docid=RwE1FkeTKWgd7M&tbnid=b-YxbCJP6MGVBM&vet=12ahUKEwiaws78gOOGAxX72AIHHZUjBnsQM3oECE8QAA..i&w=700&h=933&hcb=2&ved=2ahUKEwiaws78gOOGAxX72AIHHZUjBnsQM3oECE8QAA" alt="Image 2">
        <img src="https://www.google.com/imgres?q=nokras%20embu%20food%20prices&imgurl=https%3A%2F%2Fimages.trvl-media.com%2Flodging%2F91000000%2F90220000%2F90217500%2F90217444%2F3646614f.jpg%3Fimpolicy%3Dresizecrop%26rw%3D575%26rh%3D575%26ra%3Dfill&imgrefurl=https%3A%2F%2Fau.hotels.com%2Fho2887958208%2Fnokras-siver-oak-embu-embu-kenya%2F&docid=xAe7ZIx89wYFGM&tbnid=Y8pjposvmGYSJM&vet=12ahUKEwiaws78gOOGAxX72AIHHZUjBnsQM3oECHMQAA..i&w=863&h=575&hcb=2&ved=2ahUKEwiaws78gOOGAxX72AIHHZUjBnsQM3oECHMQAA" alt="Image 3">
    </div>
    <p>
      Thank you for joining our Nokras family! It is always a pleasure to have more food enthusiasts join us.
      At our Nokras, we are dedicated to providing you with the best dining experience possible. From
      delicious meals prepared with fresh ingredients to excellent customer service, we aim to make your
      every visit memorable.
    </p>
    <p>
      As a registered member, you will receive updates on our latest menu items, special offers, and exclusive
      events. We hope you enjoy all the benefits that come with being a part of our family.
    </p>
    <p>
      We have a variety of dishes that cater to all tastes and preferences.
    </p>

    <p>
      We look forward to being at your service soon!😀
    </p>
    <p>
      Best regards,<br>
      The Nokras Team
    </p>
    <div class="footer">
      <p>
        If you did not register for this account, please ignore this email or contact our support team.
      </p>
    </div>
  </div>
</body>
</html>
